<div [style.backgroundImage]="'url('+BgImage+')'" class="w-100 h-100 position-absolute bg-cover">

</div>

<mdb-card class="col-12 h-100 p-0 d-flex text-center  shadow-none">
    <div class="position-absolute d-flex justify-content-around w-100">
        <div class="view overlay d-inline-block p-1 " *ngFor="let n of getHistory();">
            <img src="{{n}}" alt="thumbnail" class="img-thumbnail img-fluid  " style="width: 150px">
            <a href="{{n}}" target="_blank">
                <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
            </a>
        </div>
    </div>
    <div class="position-absolute p-3" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div class="w-100 m-auto ">
        <div class="bg-shadow col-12 col-md-8 m-auto">
            <div class="form-inline w-100">

                <div class="md-form w-100 input-group mt-3 mb-3">
                    <input class="form-control h-60px h5-responsive font-weight-light bg-shadow-05 border-0 text-white placeholder-text-light " type="text" [(ngModel)]="Input" placeholder="Url -> e.g. https://photos.app.goo.gl/dbcEejWnVfKcwCfK7" />
                    <div class="input-group-append">
                        <button [disabled]="isLoadingResults" class="btn btn-success font-weight-light font-small" mdbWavesEffect (click)="getLink();">Go</button>
                    </div>
                </div>

                <div *ngIf="Message" class="m-auto bg-shadow-05 p-2  orange-text h3-responsive">{{Message}}</div>


            </div>

            <div class="form-inline w-100" *ngIf="Output">

                <div class="md-form w-100 input-group mb-3">
                    <input class="form-control font-weight-light text-light disabled bg-shadow-05 border-dark " type="text" [(ngModel)]="Output" placeholder="">

                    <div class="input-group-append">
                        <a href="{{Output}}" alt="open" rel="noopener" target="_blank" color="" class="btn btn-primary bg-shadow-05 border-0 text-white waves-light" mdbWavesEffect>
                            <mdb-icon icon="hand-pointer" class="fas text-white"></mdb-icon>
                            Open
                        </a>
                        <a rel="noopener" alt="copy" [cdkCopyToClipboard]="Output" color="" class="btn btn-primary bg-shadow-05 border-0 text-white waves-light" mdbWavesEffect>
                            <mdb-icon icon="copy" class="fas text-white"></mdb-icon>
                            Copy
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</mdb-card>